/vendor/
/composer.lock
/.phpunit.result.cache
.phpunit.cache
.phpstan
/node_modules/
/package-lock.json
/docs/build/
/.DS_Store
/.env
/coverage/
.idea
docs/.vitepress/cache
docs/.vitepress/dist
build

