<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
>
    <testsuites>
        <testsuite name="Laravel CBR Package">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:YXJ0aWZpY2lhbGtleWZvcmNici0xMjM0NTY="/>
        <env name="CBR_CACHE_ENABLED" value="false"/>
    </php>
</phpunit>

